name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
 registryName: demo9devopsreg
 repositoryName: wth/dotnetcoreapp
 dockerFolderPath: ./Resources/Application/src/RazorPagesTestSample
 tag: ${{ github.run_number }}
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2
      id: changes
      with:
       filters: |
        src:
         - './Resources/Application/**'
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      run: dotnet restore ./Resources/Application/src/RazorPagesTestSample/RazorPagesTestSample.csproj
    - name: Build
      run: dotnet build ./Resources/Application/src/RazorPagesTestSample/RazorPagesTestSample.csproj
    - name: Test
      run: dotnet test ./Resources/Application/tests/RazorPagesTestSample.Tests/RazorPagesTestSample.Tests.csproj
  build_push_docker_image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Docker login
      run: docker login -u ACR_USERNAME --password-stdin ACR_PASSWORD  $registryName
    - name: Docker build
      run: docker build -t $registryName/$repositoryName:$tag --build-arg build_version=$tag $dockerFolderPath
    - name: Docker push
      run: docker push $registryName/$repositoryName:$tag
